<nav>
    <div class="topnav">
        <a  routerLink="/home-page" routerLinkActive="active">עמוד הבית</a>
               <a  class="dropbtn"><i class="arrow down"></i>קורסים </a>
              <div id="myDropdown" class="dropdown-content">
                <a href="course1.html">קורס מספר 1</a>
                <a href="#about">קורס מספר 2</a>
                <a href="#contact">קורס מספר 3</a>
              </div>
        <a routerLink="/about" routerLinkActive="active">אודות האתר</a>
        <a routerLink="/q-and-a" routerLinkActive="active">Q&A</a>
        <a class="active" routerLink="/contact" routerLinkActive="active">צור קשר</a>
         <a routerLink="/register" routerLinkActive="active">הרשמה</a>
    </div>
    <a class="logo.a" href="home.html"><img class="logo" src="../../assets/images/logo.png" alt="LOGO" width="145" height="140" > </a>

    <!-- <div class="mobile-container">
        
        <div class="phonenav">
         <div id="myLinks">
              <a  href="home.html">עמוד הבית</a>
              <a href="course1.html">קורסים</a>
              <a href="About%20us.html">אודות האתר</a>
              <a href="Q&A.html">Q&A</a>
              <a href="Contact.html">צור קשר</a>
              <a href="Registered.html">הרשמה</a>
         </div>
              <a href="javascript:void(0);" class="icon" onclick="phoneFunctionnav()"><i class="fa fa-bars"></i></a>
        </div>
    </div> -->
</nav>