<nav>
    <div class="topnav">
        <a  routerLink="/home-page" routerLinkActive="active">עמוד הבית</a>
        <a routerLink="/about" routerLinkActive="active">אודות האתר</a>
        <a routerLink="/q-and-a" routerLinkActive="active">Q&A</a>
        <a routerLink="/contact" routerLinkActive="active">צור קשר</a>
         <a routerLink="/register" routerLinkActive="active">הרשמה</a>
         <a routerLink="/login" routerLinkActive="active" *ngIf="!currentUser$">התחברות</a>
         <a *ngIf="currentUser$" (click)="logout()">התנתקות</a>
    </div>
    <div style="display:flex; flex-direction: row;">
        <a class="logo.a" href="home.html"><img class="logo" src="../../assets/images/logo.png" alt="LOGO" width="145" height="140" > </a>
        <div style="margin-left: 30px; margin-top:30px; text-align: center;"  *ngIf="currentUser$ && currentUser$.firstName" (click)="openProfileCard()">
            <h3> שלום  </h3>
            <h3>{{currentUser$.firstName}}</h3>
        </div>
        <div *ngIf="profile$" style="margin-left: -40px; margin-top:127px; text-align: center;">
            <div  *ngIf="profile$" class="profile-card">
                <figure class="snip0045 red">
                    <div class="close-profile" (click)="closeProfileCard()">
                        X
                    </div>
                    <figcaption>
                        <h2> <span>{{currentUser$.firstName}}</span>{{currentUser$.lastName}}</h2>
                        <p>{{currentUser$.email}}</p>
                        <p>{{currentUser$.birthDate}}</p>
                        <a>ערוך פרופיל אישי</a>
                    </figcaption>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample7.jpg" alt="sample7"/>
                    <div>
                        <img src="../../assets/images/progress.PNG" alt="sample7" style="width: 80%;"/>	
                    </div>	
                    
                    <div class="position">{{currentUser$.role}}</div>
                </figure>
            </div>
        </div>
    </div>
</nav>