<div style="display: grid;">
    <div class="picture_amir">
        <img src="../../assets/images/amir.jpg" style="width:100%;   display: block;margin-left: auto;">
    </div>
    
    <div class = "about_content">
          .ד"ר עמיר נהרי, יועץ ארגוני <br>מרצה לפסיכולוגיה ולניהול - באקדמיה ובתעשיה <br>תחומים: מנהיגות, הדרכה, משוב, ביצוע ראיונות עבודה, שכנוע והעברת מסרים<br> לקוחות: מנהלי/ות ביניים, בעלי/ות עסקים קטנים, מחלקות משאבי אנוש
          <br>
          עמיר בעל ניסיון עשיר בהעברת קורסים במוסדות אקדמיים שונים ובעל מגוון<br> .רחב של תלמידים שעברו דרך הקורסים השונים
          <br>
          .את התואר הראשון שלו עשה עמיר באוניברסיטת בן גוריון <br>.במהלך התואר הראשון התחיל עמיר את לימודיו לתואר השני
          <br>.כיום עמיר מעביר מספר רב של קורסים באוניברסיטת בן גוריון
    </div>
</div>

<div class="grid2_about">
      <div class="background_about">
          <div class="item1"></div>
          <div class="item2"></div>
          <div class="item3"><h1 style="  font-weight: bold;">הלומדה של עמיר</h1>לאחר אין ספור של שעות והכנה אנחנו גאים להציג לכם<br>
              !את הלומדה של עמיר<br>
             !בואו להנות וללמוד מעולם מלא בתוכן מפי מומחה<br>
              <a href="Registered.html"><button id="button-registered" type="button"><i class="arrow left"></i>חזור לדף הביתד</button></a>
           </div>
      </div>
</div>