<form class="form-control">
    <div>
        <h1>תרגיל מסכם - כתיבת משוב</h1>
        <h3>כעת תנסי ליישם את מה שלמדת במהלך יחידת הלימוד, על ידי כתיבת משוב לאחת מהעובדים בחברה.</h3>
        <h3>לנוחיותיך, מצורף קובץ אשר מכיל מבנה מומלץ לכתיבת סיכום משוב, אשר יסייע לך בתרגיל, וכמובן גם בהמשך דרכך לאחר סיום היחידה</h3>
        <textarea placeholder="כתבי את המשוב כאן..."></textarea>
        <a href="/../../assets/template.docx" download><H3>לחצי להורדת טופס למתן משוב</H3></a>
    </div>
    <!-- <button type="submit" value="submit">
        Submit
    </button> -->
</form>