<form class="form-control exam">
    <div>
        <h1>לאחר שהבנו כי השיחה השניה הייתה טובה יותר, נסי לחשוב, מה גרם לשיחה הראשונה להיות פחות טובה?</h1>
        <label class="container">התעסקות המנהלת בנייד בזמן השיחה
        <input type="checkbox" checked="checked" #1 (click)="answer(1)">
        <span class="checkmark"></span>
        </label>
        <label class="container">טון השיחה התקיף של המנהלת
        <input type="checkbox" #2 (click)="answer(2)">
        <span class="checkmark"></span>
        </label>
        <label class="container">המנהלת מייצרת מונולוג במקום דיאלוג
        <input type="checkbox" #3 (click)="answer(3)">
        <span class="checkmark"></span>
        </label>
        <label class="container">כל התשובות נכונות
        <input type="checkbox" #4 (click)="answer(4)">
        <span class="checkmark"></span>
        </label>
    </div>
    <div>
        <div class="button button5" (click)="t()" #tester>בדוק</div>
        <div id="explanation" #explanation>
            <h3>{{exp}}</h3>
        </div>
    </div>
</form>