<form class="form-control exam">
    <div>
        <H2>אילו משתי שיחות המשוב הייתה טובה יותר לדעתך?</H2>
        <label class="container">הראשונה
        <input type="checkbox" checked="checked" #1 (click)="answer(1)">
        <span class="checkmark"></span>
        </label>
        <label class="container">השניה
        <input type="checkbox" #2 (click)="answer(2)">
        <span class="checkmark"></span>
        </label>
        <label class="container">אותו דבר
        <input type="checkbox" #3 (click)="answer(3)">
        <span class="checkmark"></span>
        </label>
    </div>
    <div>
        <div class="button button5" (click)="t()" #tester>בדוק</div>
        <div id="explanationn" #explanationn>
            <h3>{{exp}}</h3>
        </div>
    </div>
</form>