<form class="form-control">
    <div>
        <h1>אילו מהשפות הבאות מוכרות לך?</h1>
        <label class="container">C
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        </label>
        <label class="container">C++
        <input type="checkbox">
        <span class="checkmark"></span>
        </label>
        <label class="container">C#
        <input type="checkbox">
        <span class="checkmark"></span>
        </label>
        <label class="container">Java
        <input type="checkbox">
        <span class="checkmark"></span>
        </label>
    </div>
    <!-- <button type="submit" value="submit">
        Submit
    </button> -->
</form>