<div style="display: flex; flex-direction: row;">
    <div style="width: 30%;">
        <img style="width: 65%; margin-top: 20px; margin-left: 15px;" src="../../../assets/images/angular-logo.png">
    </div>
    <div style="width: 70%;">
        <div class="text">
            <h2>המלצות "עשי" ו"אל תעשי" למשוב</h2>
            <H3>1. עוד חיובי</H3>
            <h4>שימי לב : הרבה פעמים נניח שהחיובי (לשימור) הוא מובן מאליו ונשקיע כמעט רק בשלילי (לשיפור). זאת טעות!</h4>
            <h4>לא מובן מאליו שהעשייה החיובית תחזור על עצמה. על מנת שזה יקרה, צריך להבין טוב מה היו הנקודות לשימור שהביאו להצלחה</h4>
            <h4>על מנת לחזק את הבטחון העצמי של העובדים ואת הקשר שלהם עם המנהלת חשוב לציין ואף לחגוג את העוצמות של העובדים ואת הצלחותיהם </h4>
            <h4>ניתן למנף את החיובי. ברגע שמזהים את נקודות החוזק של העובדים, ניתן לבחון אם אפשר להעזר בהן אף יותר להתמודדות עם אתגרי התפקיד. למשל, אם עלה במשוב שהעובדת טובה בהפקת ארועים אולי תוכל להפיק גם פעילות לישיבות הצוות. </h4>
            <h3>2. ברור ולא מעורפל</h3>
            <h4>מומלץ להשתמש במושגים מדויקים וקלים להבנה ככל האפשר, המעבירים את כוונתינו ,למשל, "אדיב" או "סבלני" כלפי לקוחות, מובן יותר מאשר "נחמד". "קפדן לגבי נהלים" ברור יותר מ"מקצועי". </h4>
            <h3>3.	דוגמאות מפורטות ככל האפשר </h3>
            <h4>על מנת שהמשוב יהיה ברור, כדאי לקחת כל נקודה (לשימור ולשיפור) ולתת לה דוגמאות מפורטות ככל האפשר. בדיקה והזכרות בארועים שקרו יכולות למנוע בירור פרטים יותרים מיותרים במהלך המשוב, ולהקל על הבהרת המשוב. </h4>
            <h3>4. מתייחס לעיקר ולא לתפל</h3>
            <h4>משוב צריך להתייחס לסוגיות החשובות ביותר, שהקפדה עליהן חיוניות לביצוע יעיל ולהשגת מטרות הארגון. שימי לב שעודף מידע במשוב עלול ליצור מצב של "תפסת מרובה לא תפסת" כיוון שיכולת העובדים להבין, לעבד ולהפנים מידע בזמן קצר היא מוגבלת. </h4>
            <h3>5. מתייחס למכלול ולא לחריגים</h3>
            <h4>ננסה להמנע מלתת משקל לטעויות ולהתנהגויות יוצאי דופן שאינן מעידים על ההתנהלות הרגילה של העובדת, במידה ואינן חמורות, מזיקות ומסוכנות ועל כן דורשות התייחסות. </h4>
            <h3>6. ממוקד בהתנהגות ולא בתכונות </h3>
            <h4>ההתמקדות בפעולות ובהתנהגות במקום בתכונות אופי מעביר את המסר שהאדם לא פגום ביסודו, אלא צריך לנקוט בדרך פעולה אחת. למשל "להגיש דו"חות בזמן", במקום "איטי". </h4>
            <h3>7. לשון עתיד במקום לשון עבר</h3>
            <h4>הדיבור בעתיד (למשל, "אני מצפה שתעשה" במקום בעבר "לא עשית" מסייע להתמקד בשיפור ולמידה במקום ב"בית משפט" ובאשמה.  </h4>
            <h3>8. דיבור ישיר ולא מרומז או זהיר</h3>
            <h4>להיות גלויים לגבי ההתנהגויות הלא רצויות, המשמעות שלהן לארגון והציפיות שלנו ולהבהיר את חומרת הדברים כשזה נדרש. למשל "אם לא יהיה שיפור באדיבות  שלך כלפי הלקוחות זה עלול לפגוע בעסקים. אתה חייב להיות אדיב יותר"</h4>
            <h3>9. הצבת גבולות ברורים</h3>
            <h4>יש דברים שלא נוכל להרשות ואז צריך להציב באופן ברור את "הקו האדום". למשל "אם לא תקפיד על נהלי הבטיחות לא תוכל להמשיך לעבוד פה" או "התנהגות זו מסכנת את הארגון ולכן אם לא יהיה שיפור נצטרך לשקול את המשך העסקתך"  </h4>
            <h3>10. שיתוף רגשי </h3>
            <h4>שאלה למחשבה: עד כמה תרצי לשתף את הרגשות שלך עם העובדים במסגרת המשוב? עובדים עשויים להתעצם מביטוי של רגשות חיוביים בעקבות ההישגים והשיפור שלהם, כמו :

                "אני שמחה/מרוצה/גאה מהשיפור שבצעת בתקופה האחרונה/מההצלחה שלך בתערוכה"
                 
                לפעמים, אולי כמוצא אחרון, נבטא תחושות שליליות, למשל: 
                
                "אני מאמינה בך וביכולת שלך להצליח, ולכן חבל לי/עצוב לי/אני מאוכזבת מכך שעדיין לא חל השיפור הנדרש" או "יהיה לי עצוב אם לא נוכל להמשיך ולעבוד ביחד, אבל אם לא יהיה שיפור, לא תהייה לי ברירה. מה ניתן לעשות כדי שזה לא יקרה?"
                </h4>
            <h3>לסיכום יחידת הלימוד, נתרגל כתיבת משוב, אמליץ להוריד את הקובץ בקישור המכיל את כל הדגשים עליהם דיברנו:</h3>
            <a href="/../../assets/דגשים לכתיבת משוב.docx" download><H3>לחצי כאן להוריד את הקובץ</H3></a>
        </div>
    </div>
</div>

