<div class="title">
   <h2 class="title-content">{{ title }}</h2> 
</div>
<div style="height: 385px; overflow-y: auto;">
    <app-training-start *ngIf="currentState.name == 'training-start'"></app-training-start>
    <app-training-theory *ngIf="currentState.name == 'training-theory'"></app-training-theory>
    <app-closed-question *ngIf="currentState.name == 'training-closed-question'"></app-closed-question>
    <app-open-question *ngIf="currentState.name == 'training-open-question'"></app-open-question>
    <app-training-end *ngIf="currentState.name == 'training-end'"></app-training-end>
</div>

<div style="display: flex; flex-direction: row;">
    <div class="next-button" *ngIf="currentState.nextButton && stateIndex<state.length - 1" (click)="changeState(1)">
        {{currentState.nextButton}}
    </div>
    <div class="next-button" *ngIf="stateIndex>=1 && currentState.nextButton" (click)="changeState(-1)">
        הקודם
    </div>
</div>

