<section class="section_home"><br><br><br><p id="amir-welcome">הקורסים של עמיר נהרי</p><hr style="width:10%; display: flex; margin-left:45% !important; margin-right:25% !important;
    align-items: center; border: 1px solid ;border-radius: 5px;"><br><button (click)="startTraining()" id="button-start" type="button"><i class="arrow left"></i>לחץ כאן כדי להתחיל</button> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>

<div class="home-about">
    <h1><strong>?אנחנו יודעים מה עובר לך עכשיו בראש למה שאעשה קורסים של עמיר נהרי</strong></h1>
      <p id="home-about">.הרי אם אני רוצה קורס פרונטלי וארוך אז יש לי מכללות שמלמדות את החומרים האלו <br>
          .אם אני רוצה דווקא משהו בקטנה אני פשוט אחפש ביוטיוב<br>
        ?אז למה לקחת את הקורס שלנו
      </p>
</div>
<br> <br> <br> <br>
<div>
        <h2 class="qoute"> "</h2>
        <div id="divstudent" class="student">
                תלמידים ממליצים על הקורסים
        </div>

<br><br>
    </div>
    <div class="rate" >
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
</div>

<br><br>
<div class="w3-content w3-display-container">
    
        <div class="w3-display-container mySlides">
          <img src="../../assets/images/reco1.png" style="width:100%">
        </div>
        <div class="w3-display-container mySlides">
          <img src="../../assets/images/reco2.png" style="width:100%">
        </div>
        <div class="w3-display-container mySlides">
          <img src="../../assets/images/reco3.png" style="width:100%">
        </div>
        <button class="w3-button w3-display-left w3-black" (click)="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" (click)="plusDivs(1)">&#10095;</button>
        <!-- <button id="myBtn" title="Go to top"><p><i class="arrow up"></i></p></button> -->
</div>