<div class = "form_registered">
    <form method="post" action="/TODO">
      <div class="container">
        <h1 style="text-align: center">טופס ההרשמה לאתר</h1>
        <p style="text-align: center">אנא מלא טופס זה על מנת לבצע את הרישום</p>
        <hr>

        <label for="email_registered"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" id="email_registered" required >

        <label for="psw"><b>Password (8-10 using only english letters) </b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" pattern="[A-Za-z]{8,10}" required>

        <hr>
          <div class="terms">
                                      1 קדימון

                אתר "שם האתר שלכם" (להלן "האתר") הוא אתר המשתמש כאתר ("תיאור האתר שלכם")
                ייצוגי עבור "שם החברה / בית העסק שלכם" והנך מוזמן לקחת בו חלק בכפוף להסכמתך
                לתנאי השימוש אשר יפורטו להלן
                <br>
                .2 בנוסף השימוש באתר זה על כל תכניו והשירותים המוצעים בו, הורדות של קבצים, מדיה
                כגון תמונות וסרטונים והתכנים השונים המוצעים לקהל המבקרים עשויים להשתנות מעת
                לעת או בהתאם לסוג התוכן.
                <br>
                הנהלת האתר שומרת לעצמה הזכות לעדכן את תנאי השימוש המוצגים להלן מעת לעת
                וללא התראה או אזכור מיוחד בערוצי האתר השונים.
                <br>
                קניין רוחני
                <br>
                .3 האתר כמו גם כל המידע שבו לרבות עיצוב האתר, קוד האתר, קבצי מדיה לרבות גרפיקות,
                סרטונים, תמונות, טקסטים, קבצים המוצעים להורדה וכל חומר אחר אשר מוצג באתר
                שייכים במלואם לאתר הנ"ל ומהווים קניין רוחני בלעדי של אתר "שם האתר שלכם" ואין
                לעשות בהם שימוש ללא אישור כתוב מראש מאתר "שם האתר שלכם ."
                <br>
                בנוסף אין להפיץ, להעתיק, לשכפל, לפרסם, לחקות או לעבד פיסות קוד, גרפיקות, סרטונים,
                סימנים מסחריים או כל מדיה ותוכן אחר מבלי שיש ברשותכם אישור כתוב מראש.

                <br>
                .4 תוכן האתר
                <br>
                אנו שואפים לספק לכם את המידע המוצג באתר ללא הפרעות אך יתכנו בשל שיקולים
                טכניים, תקלות צד ג או אחרים, הפרעות בזמינות האתר. ולכן איננו יכולים להתחייב כי
                האתר יהיה זמין לכם בכל עת ולא יינתן כל פיצוי כספי או אחר בשל הפסקת השירות /
                הורדת האתר.
                <br>
                .5 קישורים לאתר חיצוניים אינם מהווים ערובה כי מדובר באתרים בטוחים, איכותיים או אמינים
                וביקור בהם נעשה על דעתכם האישית בלבד ונמצאים בתחום האחריות הבלעדי של
                המשתמש באתר.
                .6 התכנים המוצעים באתר הינם בבעלותם הבלעדית של "שם האתר שלכם" ואין לעשות בהם
                שימוש אשר נועד את האמור בתקנון זה (ראה סעיף 3 (למעט במקרים בהם צוין אחרת או
                במקרים בהם צוין כי זכויות היוצרים שייכים לגוף חיצוני. במקרים אלו יש לבדוק מהם תנאי
                השימוש בקישור המצורף ולפעול על פי המצוין באתר החיצוני לו שייכים התכנים.
                <br>
                .7 ניהול משתמשים ומבקרים באתר
                <br>
                הנהלת האתר שומרת לעצמה את הזכות לחסום כל משתמש ובין אם על ידי חסימת כתובת
                ה IP של המחשב שלו, כתובת ה MACID של המחשב שלו או אפילו בהתאם למדינת
                המוצא ללא צורך לספק תירוץ אשר מקובל על הגולש.
                .8 צוות האתר / הנהלת האתר יעשה כל שביכולתו להגן על פרטי המשתמשים הרשומים באתר
                / מנויים הרשומים באתר. במקרים בהם יעלה בידיו של צד שלישי להשיג גישה למידע
                מוסכם בזאת כי לגולשים, משתמשים וחברים באתר לה תהה כל תביעה, טענה או דרישה
                כלפי צוות האתר "שם האתר שלכם".
                .9 גילוי נאות
                <br>
                באתר זה עשוי לעשות שימוש בקבצי קוקיז ( במיוחד עבור משתמשים רשומים ומנויים)
                ובממשקי סטטיסטיקה פנימיים בכדי לשמור תיעוד סטטיסטי אנונימי של גולשים וניתוח
                תנועת הגולש/ים, הרגלי גלישה באתר וניתוח קליקים וזמן שהייה.
                <br>
                בכל העת ולבד מאשר גולשים המחוברים לאתר המידע הנשמר הוא אנונימי לחלוטין ואין בו
                את שם הגולש או כל פרט מזהה אחר.
                 .10 איזור שיפוט
                <br>
                בעת שאתם עושים שימוש באתר ובמקרה בו התגלעה כל מחולקת אתם מסכימים להלן כי
                האמור לעיל נמצא תחת סמכות השיפוט הבלעדי של החוק הישראלי תוך שימוש במערכת
                בתי המשפט הישראליים בלבד במחוז תל אביב
            </div>
        <p><input type="checkbox" id="check" name="check" required> על ידי סימון וי בתיבה שמשאל את/ה מאשר את התקנון <a href="usage-terms-example-pdf.pdf" download style="font-size: 15px">תנאים ופרטיות</a>.</p>
        <button type="submit" class="registerbtn" >הרשם כאן ועכשיו</button>
    </div>
    <div class="container signin">
      <p>יש לך כבר חשבון ?<a href="signin.html">הכנס כאן</a>
    </div>
    <div><p></p></div>
  </form>
</div>