<div style="display: flex; flex-direction: row;">
    <div style="width: 30%;">
        <img style="width: 65%; margin-top: 20px; margin-left: 15px;" src="../../../assets/images/angular-logo.png">
    </div>
    <div style="width: 70%;">
        <div class="text">
            <h3>{{ text }}</h3>
            <h4>משוב הוא כלי המסייע לעובדת לשפר את ביצועיה  לטובת המשימה והארגון. אולם, משוב מבוצע היטב יכול לקדם מטרות ארגוניות נוספות:</h4>
            <ul>
                <li>קביעת צרכי הדרכה של העובדת </li>
                <li>איתור סוגיות ארגוניות הדורשות התייחסות</li>
                <li>שיפור עבודת הצוות,  בייחוד בצמד מנהלת-עובדת </li>
            </ul>
            <h4>למעשה ייתכן כי כדאי להגדיר מחדש את המשוב ככלי המסייע לצוות מנהלת-עובדת לשפר את ביצועיו לטובת המשימה והארגון. </h4>              
            <H4>למשוב יכולות להיות גם מטרות רגשיות:</H4>
            <ul>
                <li>חיזוק הבטחון העצמי של העובדת  </li>
                <li>חיזוק ההנעה (מוטיבציה) של העובדת </li>
                <li>חיזוק ההיכרות, ההבנה ההדדית והאמון בין המנהלת לעובדת </li>
            </ul>
        </div>
        <div class="text">
            <h3>קצת על רגשות</h3>
            <h4> מה הופך משוב לכל כך מורכב? מדוע יש מנהלים המתקשים לתת משוב, ואף נמנעים מכך?</h4>
            <h4>נקודת המבט של המנהלת:</h4>
            <ul>
                <li>תסכול על כך שהעובדים אינם מבצעים את תפקידן כהלכה </li>
                <li>תסכול על כך שהעובדים אינם מכירים בשגיאות שלהם</li>
                <li>חשש מתגובות מתגוננות או כועסות של העובדים לביקורת </li>
                <li>חשש מפגיעה במוטיבציה של העובדים או אפילו מעזיבתם  </li>
            </ul>
            <h4>נקודת המבט של העובדת:</h4>
            <ul>
                <li>הצורך בתחושת ערך
                    באופן טבעי אנו רוצות להרגיש בעלי יכולת, חכמים, סמכות מקצועית בתחומם. בו באותה העת כולנו לפעמים חשים ספק בעצמינו וביכולות שלנו. המשוב מעורר גם את הצורך בערך וגם את הספקות העצמיים. 
                </li>
                <li>הצורך בבטחון
                    משוב מעלה חשש מהצורך ללמוד, להשתפר שעלול לדרוש משאבים וויתורים רבים ואף להכשל.  
                </li>
                <li>חשש מתגובות מתגוננות או כועסות של העובדים לביקורת </li>
                <li>הצורך בחיבור
                    עובדים בדרך כלל רוצים להאמין שהמנהלת רואה אותם באור חיובי מעבר לטעויות או לחסרונות, ומאמינה שכוונותיהן טובות והן עושות מאמץ להצליח. משוב עלול לעורר בם את החשש להרגיש דחויים ולאבד את ההערכה והחיבה של המנהלת. 
                </li>
            </ul>
        </div>
        <div class="text">
            <h4>כעת נעבור לסרטון בו נראה דוגמה לשתי שיחות משוב, נסי לחשוב במהלך הסרטון של נקודת מבטה של כל אחת מהמשתתפות בשיחה.</h4>
        </div>
    </div>
</div>

